{% extends "base.html" %}
{% load kisumu_tags %}
{% load static %}
{%block title%} Search Results {% endblock %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

{% block content %}
    <div class="container-fluid">
    {% if total_results %}
        <h1>Query containing '{{query}}'</h1>
        <h3>
            {% with total_results as total_total_results %}
                Found {{ total_total_results }} result{{ total_total_results|pluralize }}
            {% endwith %}
        </h3>
        {% if search_results %}
            {% for post in search_results %}
                <h2>
                    <a href="{{ post.get_absolute_url }}" class="text-decoration-none text-success">
                    {{ post.title|highlight_search:query}}
                    </a>
                </h2>

                <p>{{ post.body|highlight_search:query| striptags| truncatewords:20 | linebreaks }}</p>

            {% endfor %}
        {% else %}
            {% for cause in search_results2 %}
                <h2>
                    <a href="{% url 'kisumu:CauseDetail' cause.slug %}" class="text-decoration-none text-success">
                    {{ cause.title|highlight_search:query }}</a>
                </h2>
                <p class="card-text">
                    {{ cause.content|highlight_search:query | safe | linebreaks | truncatewords:20 }}
                </p>
            {% endfor %}
        {% endif %}
    {% else %}
        <p>Please search again. No result found for <b>"{{query}}"</b>.</p>
    {% endif %}
    </div>


{% endblock %}