{% load static %}

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
      integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">


        <form action="" method="post">
              <h5 class="foot-title">Subscribe to our Monthly Newsletter</h5>
              {% csrf_token %}
              <input class="form-control mr-2" type="email" placeholder="Email Address" aria-label="Email"
                           name="email">
              <button class="btn btn-success btn-outline-light mt-1 font-weight-bold text-dark" type="submit">Subscribe
              </button>

        </form>

        {% if messages %}
            {% for message in messages %}
              <div class="alert alert-success">
                <h5 class="text-light">
                    {{ message }}
                </h5>
              </div>
            {% endfor %}
          {% endif %}